.main-part{
    background-color: #E7E7E7;
    width: 100%;
    height: auto;
}
.title{
    font-size: xx-large;
    font-weight: bold;
}
.link{
    font-size: larger;
    font-style: italic;
}
.serach,.tag,.discuss,.fr-link,.count{
    border: solid 1px #B9BDBD;
    border-radius: 4px;
    margin: 20px;
}
.serach{
    height: 50px;
}
.tag{
    height: 300px;
}
.discuss{
    height: 120px;
}
.fr-link{
    height: 200px;
}
.count{
    height: 210px;
}
.green1{
    background-color: #dee9ff;
    height: 32px;
    color: black;
    font-weight: 700;
    padding: 6px;
}
.widget-content {
    margin: 9px;
    overflow: hidden;
}
#search-box fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
}
#search-box input {
    background: transparent;
    width: 174px;
    height: 18px;
    color: #252930;
    border: 1px solid #9599A0;
    border-radius: 2px;
    padding: 5px;
    padding-right: 57px;
    margin: 1px 0;
    box-sizing: content-box;
    vertical-align: top;
    box-shadow: inset 0 0 2px rgba(37,41,48,0.2);
}
#search-box button {
    position: absolute;
    top: 1px;
    right: 0;
    width: 50px;
    height: 30px;
    background: #252930;
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 30px;
    text-align: center;
    font-family: alphatr;
    font-size: 24px;
    color: #D6D6DE;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}