.archives {
    margin-bottom: 10px;
}
.archives h3 {
    font-size: 18px;
    margin: 0 0 10px;
    font-weight: 600;
}
.archives ol {
    list-style-type: none;
    margin: 0 0 5px;
    padding: 0 0 0 10px;
}
.archives li {
    position: relative;
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    padding: 0 40px 0 60px;
    -webkit-transition: background-color .6s linear;
    transition: background-color .6s linear;
}
.archives li .time {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 60px;
    margin-left: -60px;
    text-align: center;
    color: #666;
}
.alpha-post ul, .alpha-post ol, .alpha-post dl {
    padding-left: 30px;
}
.archives li small {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 40px;
    margin-right: -40px;
    text-align: center;
    color: #666;
}