.user-sidebar{
    height: auto;
    width: 100%;
}
#title1{
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #f0f4f7;
    background-color: #eaeaea;
    color: #545859;
    padding: 10px;
    width: 100%;
}
#content1{
    font-size: 14px;
    padding-left: 3.3%;
    line-height: 2.1em;
    border: 1px solid rgb(239, 240, 242);
    background-color: #EAEEF5;
}
.arrow {
    display: inline-block;
    width: 14px!important;
    height: 14px;
    line-height: 14px;
    text-shadow: none;
    font-size: 18px;
    position: absolute;
    right: 9px;
    top: 11px;
    padding: 0;
    color: #666;
}