.main{
     width: 100%;
 }
.wrap {
    margin: 0 0 0 10px;
}
.wrap h2 {
    color: #464646;
    font-size: 22px;
    padding: 9px 15px 4px 0;
    line-height: 29px;
}
.wrap .add-new-h2 {
    background: #f1f1f1;
    font-family: sans-serif;
    margin-left: 4px;
    padding: 3px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    font-size: 14px;
    border: 0 none;
    margin-left: 25px;
}
.sub {
    color: #666;
    list-style: none;
    margin: 6px 0 0 24px;
    padding: 0;
    white-space: nowrap;
    font-size: 13px;
    float: left;
}
.sub li {
    display: inline;
    margin: 0;
    padding: 0;
}
.ac_match, .sub a.current {
    color: #000;
}
.sub a.current {
    font-weight: bold;
    background: 0;
    border: 0;
}
.sub a {
    line-height: 2;
    padding: .2em;
    text-decoration: none;
}
.search-box {
    margin-left: 300px;
}
.screen-reader-text, .screen-reader-text span {
    position: absolute;
    left: -1000em;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
input[type="search"]{
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    height: 26px;
}
label, #your-profile label+a {
    vertical-align: middle;
}
label {
    cursor: pointer;
}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
    border-color: #dfdfdf;
    background-color: #fff;
    color: #333;
}
.button, .button-secondary, .submit input, input[type=button], input[type=submit] {
    border-color: #bbb;
    color: #464646;
}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
    border-color: #dfdfdf;
    background-color: #fff;
    color: #333;
}
.submit input, .button, input.button, .button-primary, input.button-primary, .button-secondary, input.button-secondary, .button-highlighted, input.button-highlighted, #postcustomstuff .submit input {
    text-decoration: none;
    font-size: 12px!important;
    line-height: 13px;
    padding: 3px 8px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
table.fixed {
    table-layout: fixed;
}
.widefat {
    border-color: #dfdfdf;
    background-color: #f9f9f9;
    border-spacing: 0;
    width: 1100px;
    clear: both;
    margin-left: 24px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
}
.widefat th {
    text-shadow: rgba(255,255,255,0.8) 0 1px 0;
}
.widefat td, .widefat th {
    border-top-color: #fff;
    border-bottom-color: #dfdfdf;
}
.widefat th {
    font-weight: normal;
}
.widefat th, .widefat td {
    overflow: hidden;
}
a:hover, a:active, a:focus {
    color: #d54e21;
}
.widefat a {
    text-decoration: none;
}
.row-title {
    font-size: 13px!important;
    font-weight: bold;
}
.widefat * {
    word-wrap: break-word;
}
a, #adminmenu a, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, .plugins a.delete, .ui-tabs-nav a {
    color: #21759b;
}
a, input, select {
    outline: 0;
}
.row-actions {
    padding: 2px 0 0;
    font-size: 13px;
    display: none;
}
td.post-title strong, td.plugin-title strong {
    display: block;
    margin-bottom: .2em;
}
.widefat td, .widefat th {
    border-width: 1px 0;
    border-style: solid;
}