.user-sidebar{
    height: auto;
    width: 160px;
}
#title1,#title2,#title3,#title4{
    cursor: pointer;
    font-size: 20px;
    border: 1px solid lightslategray;
    background-color: dimgray;
    color: #bce8f1;
    padding: 10px;
}
#content1,#content2,#content3,#content4{
    font-size: 16px;
    padding-left: 28%;
    line-height: 1.7em;
    border: 1px solid lightslategray;
    background-color: rgb(226, 224, 226);
}